<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                   
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Crear Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedPrinterConfigs()" [disabled]="!selectedPrinterConfigs || !selectedPrinterConfigs.length"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="printerConfigs" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name', 'color', 'brand', 'price', 'type', 'sub_type']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} configuraciones" [(selection)]="selectedPrinterConfigs" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar Impresoras</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="img">Imagen <p-sortIcon field="image"></p-sortIcon></th>
                        <th pSortableColumn="name">IP <p-sortIcon field="sku"></p-sortIcon></th>
                        <th pSortableColumn="name">Código de Acceso <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="type">Número de Serie <p-sortIcon field="type"></p-sortIcon></th>
                        <th pSortableColumn="sub_type">Nombre de Impresora<p-sortIcon field="sub_type"></p-sortIcon></th>
                        <th pSortableColumn="color">Tipo de Impresora <p-sortIcon field="color"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-printer>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="printer"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                            <img  src="http://100.96.201.57:8000/media/printers/{{printer.printer_type}}.webp" alt="{{ printer.printer_name }}" width="100" class="shadow-4" />
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">IP</span>
                            {{printer.hostname}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Código de Acceso</span>
                            {{printer.access_code}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Número de serie</span>
                            {{printer.serial_number}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{printer.printer_name}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Tipo</span>
                            {{printer.printer_type}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editPrinterConfig(printer)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePrinterConfig(printer)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="printerConfigDialog" [style]="{width: '450px'}" header="Impresora" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                               
                <div class="field">
                    <label for="hostname">Dirección IP</label>
                    <input type="text" pInputText id="hostname" [(ngModel)]="printer_config.hostname" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !printer_config.hostname}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !printer_config.hostname">Por favor, especifique la ip.</small>
                </div>
                
                <div class="field">
                    <label for="access_code">Código de Acceso</label>
                    <input type="text" pInputText id="access_code" [(ngModel)]="printer_config.access_code" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !printer_config.access_code}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !printer_config.access_code">Por favor, especifique el código de acceso.</small>
                </div>

                <div class="field">
                    <label for="serial_number">Número de Serie</label>
                    <input type="text" pInputText id="serial_number" [(ngModel)]="printer_config.serial_number" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !printer_config.serial_number}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !printer_config.serial_number">Por favor, especifique el número de serie.</small>
                </div>
                
                <div class="field">
                    <label for="type">Tipo de Impresora</label>
                    <p-dropdown [(ngModel)]="printer_config.printer_type" inputId="type" optionValue="label" [options]="types" placeholder="Seleccionar">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="printer_config && printer_config.printer_type">{{printer_config.printer_type}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                
                <div class="field">
                    <label for="printer_name">Nombre de Impresora</label>
                    <input type="text" pInputText id="printer_name" [(ngModel)]="printer_config.printer_name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !printer_config.printer_name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !printer_config.printer_name">Por favor, especifique el nombre de la impresora.</small>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="savePrinterConfig()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePrinterConfigDialog" header="Atención" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="printer_config">¿Estás seguro de querer eliminar la impresora   <b>{{printer_config.printer_name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deletePrinterConfigDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDelete(printer_config)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteConfigsDialog" header="Atención" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Estás seguro que quieres borrar las impresoras seleccionadas?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteConfigsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="BORRAR" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
